<aside>

  <div class="canvasContain">
    <h4>Applications Sent vs Weekly Goal</h4>
    <canvas id="application"></canvas>
  </div>

  <div class="canvasContain">
    <h4>Online Interactions Completed vs Weekly Goal</h4>
    <canvas id="brand"></canvas>
  </div>

  <div class="canvasContain">
    <h4>Contacts Made vs Weekly Goal</h4>
    <canvas id="contact"></canvas>
  </div>

  <div class="canvasContain">
    <h4>Events Attended vs Weekly Goal</h4>
    <canvas id="event"></canvas>
  </div>

</aside>
