<div>

  <div class="canvasContain">
    <h3 class="center">Applications Sent</h3>
    <h4 class="center">Actual vs Goal</h4>
    <canvas id="application"></canvas>
  </div>

  <div class="canvasContain">
    <h3 class="center">Companies Researched</h3>
    <h4 class="center">Actual vs Goal</h4>
    <canvas id="brand"></canvas>
  </div>

  <div class="canvasContain">
    <h3 class="center">Contacts Made</h3>
    <h4 class="center">Actual vs Goal</h4>
    <canvas id="contact"></canvas>
  </div>

  <!-- <div class="canvasContain">
    <h3 class="center">Events Attended</h3>
    <canvas id="event"></canvas>
  </div> -->

</div>
