<section ng-class="$ctrl.styles.landing">
  <!-- TODO : insert **real** app name here once we've decided on it -->
  <h1>Welcome to Clever Job Hunter </h1>

  <!-- TODO : maybe we'll have some description here of the app and what it is, similar to the front page of any service? -->
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sed diam eget risus varius blandit sit amet non magna. Sed posuere consectetur est at lobortis. Donec ullamcorper nulla non metus auctor fringilla.</p>

</section>
