<aside>
  <!-- this section shows donut graph for applications sent vs weekly goal -->
  <ui-view name="applicationActivity"></ui-view>

  <!-- this section shows donut graph for contacts made vs weekly goal -->
  <ui-view name="contactActivity"></ui-view>

  <!-- this section shows donut graph for social network, brand upkeep posts vs weekly goal -->
  <ui-view name="brandActivity"></ui-view>

  <!-- this section shows donut graph for events attended (includes interviews) vs weekly goal -->
  <ui-view name="eventActivity"></ui-view>
</aside>
