<!--html template for new company dialog-->
    <md-dialog-content>
        <form name="newCompany" ng-submit="newCompany.$valid && $ctrl.submit()" layout="row" novalidate>
          <div layout="column">
            <md-input-container>
                <label>Name:</label>
                <input
                    name="addName"
                    required
                    ng-model="$ctrl.company.name"/>
                    <div ng-messages="addCompany.addName.$error" role="alert">
                        <div ng-message="required">A name is required</div>
                    </div>
            </md-input-container>
            <md-input-container>
                <label>Location:</label>
                <input
                    name="addLocation"
                    required
                    ng-model="$ctrl.company.location"/>
            </md-input-container>
            <md-input-container>
                <label>Service:</label>
                <input
                    name="addService"
                    required
                    ng-model="$ctrl.company.service"/>
            </md-input-container>
            <md-input-container>
                <label>Technologies Used:</label>
                <input name="addTech" required ng-model="$ctrl.company.tech"/>
            </md-input-container>
            <md-button ng-click="$ctrl.addProsInput()">Add A Pro</md-button>
            <div ng-repeat="each in $ctrl.company.pros">
              <md-input-container>
                   <input aria-label="Company Pro" ng-model="each.pro" placeholder="Pro:"\>
              </md-input-container>
            </div>
            <md-button ng-click="$ctrl.addConsInput()">Add A Con</md-button>
            <div ng-repeat="each in $ctrl.company.cons">
              <md-input-container>
                   <input aria-label="Company Con" ng-model="each.con" placeholder="Con:"\>
              </md-input-container>
            </div>
            <md-button ng-click="$ctrl.addQuestionsInput()">Add a Question</md-button>
            <div ng-repeat="each in $ctrl.company.questions">
              <md-input-container>
                   <input aria-label="Questions" ng-model="each.question" placeholder="Question:"\>
              </md-input-container>
            </div>
          </div>
          <div layout="column">
            <md-input-container>
              <label>Details About Company:</label>
              <textarea name="addInfo" ng-model="$ctrl.company.info" rows="10"></textarea>
            </md-input-container>
          </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="$ctrl.submit()" class="md-primary">Save Company</md-button>
        <md-button ng-click="$ctrl.cancel()" class="md-primary">Cancel</md-button>
    </md-dialog-actions>
