<!--template for the dialog form to add a new position-->
    <md-dialog-content>
        <form name="newPosition" ng-submit="newPosition.$valid && $ctrl.submit()" novalidate layout="row">
          <div layout="column">
            <md-input-container>
                <label>Title:</label>
                <input name="addTitle" required ng-model="$ctrl.position.title"/>
            </md-input-container>
            <md-input-container>
                <label>Method:</label>
                <input name="addMethod" required ng-model="$ctrl.position.method"/>
            </md-input-container>
            <md-input-container>
              <md-select ng-model="$ctrl.position.company" placeholder="Select a company">
                <md-option ng-value="company._id" ng-repeat="company in $ctrl.companies">{{company.name}}</md-option>
              </md-select>
            </md-input-container>
            <md-input-container>
              <label>Date Posted:</label>
              <div flex-gt-xs>
                 <md-datepicker ng-model="$ctrl.position.dateAdvertised"></md-datepicker>
               </div>
            </md-input-container>
            <md-input-container>
              <label>Date Applied:</label>
              <div flex-gt-xs>
                <md-datepicker ng-model="$ctrl.position.dateApplied"></md-datepicker>
              </div>
            </md-input-container>
            <md-button ng-click="$ctrl.addQuestionsInput()">Add a Question</md-button>
            <div ng-repeat="each in $ctrl.position.questions">
              <md-input-container>
                   <input aria-label="Questions" ng-model="each.question" placeholder="Question:"\>
              </md-input-container>
            </div>
          </div>
          <div layout="column">
            <md-input-container>
                <label>Job Posting Text:</label>
                <textarea name="addPostingInfo" ng-model="$ctrl.position.postingInfo" rows="10"></textarea>
            </md-input-container>
          </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="$ctrl.submit()" class="md-primary">Save Position</md-button>
        <md-button ng-click="$ctrl.cancel()" class="md-primary">Cancel</md-button>
    </md-dialog-actions>
