<section ng-class="$ctrl.styles.listCompanies">
    <div ng-repeat="position in $ctrl.positions">
        <h1>{{position.title}}</h1>
        <h3>{{position.postingInfo}}</h3>
            <div ng-if="position.actionItems.length">
                <p>Action Items: </p>
                <ul>
                    <li ng-repeat="item in position.actionItems">{{item.date}} {{item.plan}}</li>
                </ul>
            </div>
            <!--TODO: feed position id into the ui-sref value as a param-->
            <p> VVVV Leading to profile with dummy data for Apple</p>
            <a ui-sref="position">More Details</a>
    </div>
</section>


