<div ng-cloak>
  <md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <!-- TODO : layout is redundant, maybe provide option for logged in vs logged out in one single header component? sub comps? something like that if time -->
      <md-nav-item md-nav-sref="home" name="home" id="logo">Job Hunter</md-nav-item>
      <md-nav-item md-nav-sref="signup" name="signup">Create Account</md-nav-item>
      <md-nav-item md-nav-sref="signin" name="signin">Login</md-nav-item>

    </md-nav-bar>
  </md-content>
<!-- TODO : don't we have to close the ng-cloak tag? or is it closed elsewhere? -->
