<!--<div>
  <span>Job Hunter</span>
  <span>Home</span>
  <span>Positions</span>
  <span>Companies</span>
  <span>Contacts</span>
  <span>Welcome, {{username}}</span>
</div>-->
<!--DONE: add logout link when user is logged in-->
<div ng-cloak>
  <md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-sref="welcome" name="welcome" id="logo">Job Hunter</md-nav-item>
      <md-nav-item md-nav-sref="dashboard" name="dashboard">Dashboard</md-nav-item>
      <md-nav-item md-nav-sref="positions" name="positions">Positions</md-nav-item>
      <md-nav-item md-nav-sref="companies" name="companies">Companies</md-nav-item>
      <md-nav-item md-nav-sref="contacts" name="contacts">Contacts</md-nav-item>
      <md-nav-item md-nav-sref="userDetail" name="userDetail">Welcome, {{username}}</md-nav-item>
      <md-nav-item md-nav-sref="loggedOut" name="loggedOut">Logout</md-nav-item>

      <!-- these require actual routing with ui-router or ng-route, so they won't work in the demo
      <md-nav-item md-nav-sref="app.page4" name="page4">Page Four</md-nav-item>
      <md-nav-item md-nav-href="#page5" name="page5">Page Five</md-nav-item>
      -->
    </md-nav-bar>
  </md-content>
</div>
