<!--template for a detailed position view-->

<section ng-class="$ctrl.styles.positionDetail">
    <md-card>
        <md-card-header>
            <md-card-header-text>
            <h2 class="md-title">{{$ctrl.position.title}}</h2>
            <span class="md-subhead">{{$ctrl.position.company.name}}</span>
            </md-card-header-text>
        </md-card-header>

        <md-card-content>
            <h4>Action Items:</h4>
            <md-list flex ng-repeat="actionItem in $ctrl.actionItems">
                <md-list-item class="md-3-line">
                    <md-button class="md-secondary md-icon-button" ng-click="$ctrl.complete(actionItem._id)">Action Completed</md-button>
                    <div class="md-list-item-text" layout="column">
                    <p>Date Due: {{actionItem.dateDue | date: 'shortDate'}} - Action: {{actionItem.action}}</p>
                    </div>
                </md-list-item>
            </md-list>
            <md-divider></md-divider>

            <p>Date Advertised: {{$ctrl.position.dateAdvertised | date: 'shortDate'}}</p>
            <p>Date Applied: {{$ctrl.position.dateApplied | date: 'shortDate'}}</p>
            <p>Application Method: {{$ctrl.position.method}}</p>
            <md-list>
              <md-header>Questions:</md-header>
              <md-list-item ng-repeat="question in $ctrl.position.questions">
                <p> {{ question.question || 'No Questions Yet'}} </p>
              </md-list-item>
              <md-divider></md-divider>
            </md-list>
            <p>Position Info: {{$ctrl.position.postingInfo}}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">

          <md-button class="md-secondary md-icon-button"
            ui-sref="actions({parentId: $ctrl.position._id, which: $ctrl.which, parentName: $ctrl.position.title})"
            >View Current Action Items
          </md-button>
            <!--<md-button>Questions</md-button>-->
            <md-button ng-click="$ctrl.newActionItem($event)">Add Action Item</md-button>
            <md-button ng-click="$ctrl.edit()">Edit Position</md-button>
        </md-card-actions>
    </md-card>

</section>
