<section ng-class="$ctrl.styles.contact-list">
  <md-card>
    <md-card-header>
      <md-card-header-text>
      <span class="md-title">{{$ctrl.contact.name}}: {{ $ctrl.contact.role }} at {{ $ctrl.contact.company.name || "'Not Yet Specified'" }}</span>
      <span class="md-subhead">Met on {{$ctrl.contact.dateMet}}</span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <p>Email: {{$ctrl.contact.email}}</p>
      <p>Phone: {{$ctrl.contact.phone}}</p>
      <p>Contact Info: {{$ctrl.contact.info}}</p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-secondary md-icon-button"
    ng-click="$ctrl.edit($event)">Edit Contact
      </md-button>
      <md-button class="md-secondary md-icon-button"
    ng-click="$ctrl.remove($ctrl.contact._id)">Remove Contact
      </md-button>
    </md-card-actions>
  </md-card>
</section>
