<section ng-class="$ctrl.styles.dashboard" ng-cloak>
  <h1>Dashboard</h1>

  <md-button class="md-secondary md-icon-button" ng-click="$ctrl.newPosition($event)">Add Position</md-button>
  <md-button class="md-secondary md-icon-button" ng-click="$ctrl.newCompany($event)">Add Company</md-button>
  <md-button class="md-secondary md-icon-button" ng-click="$ctrl.newContact($event)">Add Contact</md-button>

  <md-card>
    <md-card-header>
      <md-card-header-text>
        <h2>Overdue Action Items</h2>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <h3 ng-if="!$ctrl.overDue.length">You do not currently have overdue action items.</h3>
      <div ng-if="$ctrl.overDue.length" ng-repeat="overDue in $ctrl.overDue">
        <md-list flex>
          <md-list-item class="md-3-line">
            <md-button class="md-secondary md-icon-button"
            ng-click="$ctrl.complete(overDue._id, 'overdue')">Action Completed</md-button>
            <div class="md-list-item-text" layout="column">
              <h3>Position: {{overDue.position.title || 'No Position Specified'}} at {{overDue.company.name || 'No Company Specified'}}</h3>
              <h4>Date Due: {{overDue.dateDue | date: 'shortDate'}}</h4>
              <p>Action: {{overDue.action}}</p>
            </div>
          </md-list-item>
          <md-divider></md-divider>
        </md-list>
      </div>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-header>
      <md-card-header-text>
        <h2>Upcoming Action Items</h2>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <h3 ng-if="!$ctrl.almostDue.length">You do not currently have upcoming action items.</h3>
      <div ng-if="$ctrl.almostDue.length" ng-repeat="almostDue in $ctrl.almostDue">
        <md-list flex>
          <md-list-item class="md-3-line">
            <md-button class="md-secondary md-icon-button" ng-click="$ctrl.complete(almostDue._id, 'due')">Action Completed</md-button>
            <div class="md-list-item-text" layout="column">
              <h3>Position: {{almostDue.position.title || 'No Position Specified'}} at {{almostDue.company.name || 'No Company Specified'}}</h3>
              <h4>Date Due: {{almostDue.dateDue | date: 'shortDate'}}</h4>
              <p>Action: {{almostDue.action}}</p>
            </div>
          </md-list-item>
          <md-divider ></md-divider>
        </md-list>
      </div>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-header>
      <md-card-header-text>
        <h2>Stats</h2>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <div class="statBlock">
        <h3>Positions Applied For</h3>
        <p>Total: {{$ctrl.numPositions}}</p>
        <p>This Week: {{$ctrl.positionCount}}</p>
      </div>

      <div class="statBlock">
        <h3>Companies Researched</h3>
        <p>Total: {{$ctrl.numCompanies}}</p>
        <p>This Week: {{$ctrl.companyCount}}</p>
      </div>

      <div class="statBlock">
        <h3>Contacts Made</h3>
        <p>Total: {{$ctrl.numContacts}}</p>
        <p>This Week: {{$ctrl.contactCount}}</p>
      </div>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-header>
      <md-card-header-text>
        <h2>Goal Visualizations</h2>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <visualizations>Loading...</visualizations>
    </md-card-content>
  </md-card>
</section>
