<section ng-class="$ctrl.styles.dashboard">

  <h2>Position stats:</h2>
  <div>
    Positions applied: {{$ctrl.numPositions}}
  </div>
  <div>
    Positions applied this week: {{$ctrl.positionCount}}
  </div>

  <h2>Company stats:</h2>
  <div>
    Companies researched:  {{$ctrl.numCompanies}}
  </div>

  <h2>Contact stats:</h2>
  <div>
    Contacts added:  {{$ctrl.numContacts}}
  </div>
  <div>
    Contacts added this week: {{$ctrl.contactCount}}
  </div>
  <h2>Overdue Action Items</h2>
  <div ng-repeat="overDue in $ctrl.overDue">
  <md-content>
      <md-list flex>
        <md-list-item class="md-3-line">
          <md-button class="md-secondary md-icon-button"
            ng-click="">Action Completed
          </md-button>
          <div class="md-list-item-text" layout="column">
            <h3>Position: {{overDue.position.title}} at {{overDue.company.name}}</h3>
            <h4>Date Due: {{overDue.dateDue}}</h4>
            <p>Action: {{overDue.action}}</p>
          </div>
        </md-list-item>
        <md-divider ></md-divider>
      </md-list>
    </md-content>
  </div>
  <h2>Due Action Items</h2>
  <div ng-repeat="almostDue in $ctrl.almostDue">
  <md-content>
      <md-list flex>
        <md-list-item class="md-3-line">
          <md-button class="md-secondary md-icon-button"
            ng-click="">Action Completed
          </md-button>
          <div class="md-list-item-text" layout="column">
            <h3>Position: {{almostDue.position.title}} at {{almostDue.company.name}}</h3>
            <h4>Date Due: {{almostDue.dateDue}}</h4>
            <p>Action: {{almostDue.action}}</p>
          </div>
        </md-list-item>
        <md-divider ></md-divider>
      </md-list>
    </md-content>
  </div>

  <visualizations>Loading...</visualizations>
</section>
