<section ng-class="$ctrl.styles.dashboard" ng-cloak>
  <h2>Dashboard</h2>

  <h3>Position stats:</h3>
  <p>Positions applied: {{$ctrl.numPositions}}</p>
  <p>Positions applied this week: {{$ctrl.positionCount}}</p>

  <h3>Company stats:</h3>
  <p>Companies researched: {{$ctrl.numCompanies}}</p>
  <p>Companies researched this week: {{$ctrl.companyCount}}</p>

  <h3>Contact stats:</h3>
  <p>Contacts added: {{$ctrl.numContacts}}</p>
  <p>Contacts added this week: {{$ctrl.contactCount}}</p>

  <visualizations>Loading...</visualizations>
</section>
