<section ng-class="$ctrl.styles.userDetail">
  <h1>{{$ctrl.user.name}}</h1>
  <div layout="row">
    <div layout="column" flex="grow">
      <h4>Display Name: {{$ctrl.user.name}}</h4>
      <h4>Login Email: {{$ctrl.user.email}}</h4>
    </div>
    <div layout="column">
      <md-button ng-click="$ctrl.edit()">Edit User Settings</md-button>
    </div>
  </div>
    
  <md-card>
    <h2>My Submissions:</h2>
    <md-list>
      <md-list-item class="md-3-line blue-lite" ng-repeat="position in $ctrl.positions" ui-sref="position({positionId: position._id})">
        <div class="md-list-item-text">
          <h3>{{position.title}}</h3> 
          <h4>{{position.company.name}}</h4>
          <p class="md-secondary">{{position.updatedAt | date:'MM-dd-yyyy'}}</p>
          <md-divider ng-if="!$last"></md-divider>
        </div>
      </md-list-item>
      <md-list-item ng-if="!$ctrl.positions.length" class="md-3-line blue-lite">
        <h3>No Positions Saved Yet</h3>
      </md-list-item>
    </md-list>
  </md-card>

  <md-card>
    <h2>Company Research:</h2>
    <md-list>
      <md-list-item class="md-3-line blue-lite" ng-repeat="company in $ctrl.companies" ui-sref="company({companyId: company._id})">
        <div class="md-list-item-text">
          <h3>{{company.name}}</h3> 
          <p class="md-secondary">{{company.updatedAt | date:'MM-dd-yyyy'}}</p>
          <md-divider ng-if="!$last"></md-divider>
        </div>
      </md-list-item>
      <md-list-item ng-if="!$ctrl.companies.length" class="md-3-line blue-lite">
        <h3>No Companies Saved Yet</h3>
      </md-list-item>
    </md-list>
  </md-card>

  <md-card>
    <h2>My Contacts:</h2>
    <md-list>
      <md-list-item class="md-3-line blue-lite" ng-repeat="contact in $ctrl.contacts" ui-sref="contact({contactId: contact._id})">
        <div class="md-list-item-text">
          <h3>{{contact.name}}</h3>
          <h4>{{contact.role}}</h4> 
          <h4>{{contact.company}}</h4> 
          <p class="md-secondary">{{contact.updatedAt | date:'MM-dd-yyyy'}}</p>
          <md-divider ng-if="!$last"></md-divider>
        </div>
      </md-list-item>
      <md-list-item ng-if="!$ctrl.contacts.length" class="md-1-line blue-lite">
        <h3>No Contacts Saved Yet</h3>
      </md-list-item>
    </md-list>
  </md-card>
  
</section>
