@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 { // page header
  font-size: 3.889em;
}

h2 { // dialog header // sub header OR card header
  font-size: 2.827em;
  margin: 0;
}

h3 { // card sub header OR landing detail
  font-size: 1.999em;
  margin: 0;
}

h4 { // graph sub headers OR footer content
  font-size: 1.414em;
  margin: 0;
}

h5 { // block messages (errors)
  font-size: 1em;
}

h6 {
  font-size: .707em;
}


p {
  font-size: 1.414em;
  font-weight: 200;
}

.center {
  text-align: center;
}

.full-height {
  height: 100%;
  margin-bottom: 150px;
}

.sticky-footer {
  position: fixed;
  bottom: 0;
  height: auto;
  width: 100%;
  padding: 1em;
  color: white;
  text-align: center;
  background-color: slategray;
}

.sticky-footer a {
  color: white;
}

.error {
	color: red;
}

.canvasContain {
  width: 500px;
  height: 400px;
  padding: calc((100% - 1500px)/6.1);
  display: inline-block;
}

.canvasContain canvas {
  margin-top: 40px;
}

.statBlock {
  width: 33%;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}

.canvasContain:last-child {
  margin-right: 0;
}

md-dialog {
  padding: 3%;
}

md-card {
  margin: 50px 0;
  padding: 40px;
}

.md-button.md-icon-button {
  width: 100%;
}

md-dialog-content form md-input-container {
  width: 400px !important;
}

.blue-lite {
  background-color: rgb(140, 164, 176)
}

.menudemoMenuPositionModes .md-menu-demo {
  padding: 24px; 
}

.menudemoMenuPositionModes .menu-demo-container {
  min-height: 200px; 
}

md-menu-content {
  background-color: rgb(130, 168, 185);
}