@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

* {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.full-height {
  height: 100%;
}

.lift-bottom {
  /* Equal to height of footer */
  margin-bottom: -75px;
  /* But may need to account for margin-bottom of last child */
}

.sticky-footer {
  height: 75px;
  padding: 1rem;
  color: white;
  text-align: center;
  background-color: blue;
}

.sticky-footer a {
  color: white;
}

md-dialog {
  padding: 3%;
}
