.full-height {
  height: 100%;
}

.lift-bottom {
  /* Equal to height of footer */
  margin-bottom: -75px;
  /* But may need to account for margin-bottom of last child */
}

.sticky-footer {
  height: 75px;
  padding: 1rem;
  color: white;
  text-align: center;
  background-color: blue;
}

.sticky-footer a {
  color: white;
}