<section ng-class="$ctrl.styles.contacts" ng-cloak>
  <h1>Contacts</h1>

  <md-button class="md-secondary md-icon-button"
    ng-click="$ctrl.addContact($event)"
    ng-show="$ctrl.addButton === 'add'">Add Contact
  </md-button>

  <new-contact companies="$ctrl.companies" add="$ctrl.add" add-button="$ctrl.addButton" ng-if="$ctrl.addButton === 'save'"></new-contact>

  <div ng-repeat="contact in $ctrl.contacts">
    <contact-list remove="$ctrl.remove" contact="contact"></contact-list>
  </div>
</section>
