<div ng-cloak layout-gt-sm="row" layout="column" ng-class="$ctrl.styles.contacts">

  <div flex-gt-sm="100" flex>

    <md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span>Contacts List</span>
      </div>
    </md-toolbar>
    <md-button class="md-secondary md-icon-button"
      ng-click="$ctrl.addContact()"
      ng-show="$ctrl.addButton === 'add'">Add Contact
    </md-button>
    <new-contact companies="$ctrl.companies" add="$ctrl.add" add-button="$ctrl.addButton" ng-if="$ctrl.addButton === 'save'"></new-contact>
    <div ng-repeat="contact in $ctrl.contacts">
      <contact-list remove="$ctrl.remove" contact="contact"></contact-list>
    </div>
  </div>
</div>
